<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
    <title>Despre Noi - Casa de Marcat</title>
</head>
<body>
    <%- include('../fragmente/header') %>

    <main>
        <section>
            <h2>Despre noi</h2>
            <figure id="fig1" class="fg-img">
                <img src="resurse/imagini/femeie_profesor.png" alt="profesor matematică">
                <figcaption>Profesor matematică</figcaption>
            </figure>
            <figure id="fig2" class="fg-img">
    <img src="resurse/imagini/barbat_batran_profesor.jpg" alt="profesor informatică">
    <figcaption>Profesor informatică</figcaption>
</figure>

<figure id="fig3" class="fg-img">
    <img src="resurse/imagini/femeie2_profesor.jpg" alt="profesor fizică">
    <figcaption>Profesor fizică</figcaption>
</figure>

<figure id="fig4" class="fg-img">
    <img src="resurse/imagini/barbat_profesor.png" alt="profesor istorie">
    <figcaption>Profesor istorie</figcaption>
</figure>

<figure id="fig5" class="fg-img">
    <img src="resurse/imagini/femeie2_profesor.jpg" alt="profesor română">
    <figcaption>Profesor română</figcaption>
</figure>
        </section>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>