<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
    <title>Galerie Foto - Pagina Dedicată</title>
</head>
<body>
    <%- include('../fragmente/header') %>

    <main>
        <div class="container">
            <h1>Pagina dedicată Galeriei Statice</h1>
            <p>Aici poți vedea toate imaginile noastre de sezon.</p>
            
            <%- include('../fragmente/galerie.ejs') %>
        </div>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>