
body{
    --culoare-border:#FFF8EE;
    --culoare-banner:#CCD3E2;
    --culoare-accent:#98A3BB;
    --culoare-fundal:#5A6786;
    --culoare-text:#172645;
    background-color: var(--culoare-fundal);
    font-family:"Poppins",sans-serif;
    color: var(--culoare-text);
    padding-left: var(--margine-pagina-mare);
    padding-right: var(--margine-pagina-mare);
    font-size: 1rem;
    transition: font-size 0.3s ease;
}
:root {
  --margine-pagina-mare: 60px;
  --margine-pagina-medie: 30px;
  --margine-pagina-mica: 10px;
  --gap-mare: 30px;
  --gap-medie: 20px;
  --gap-mica: 10px;
  --padding-text: 15px;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
section, figure, footer, header {
    padding-left: 10px; 
    padding-right: 10px;
    padding: var(--padding-text);
    box-sizing: border-box;
}
h1{
font-size:2.2rem;
line-height: 1.2; 
letter-spacing: 1px;
font-weight: 600;
}

h2{
font-size:1.95rem;
line-height: 1.3;
font-weight: 600;
}

h3{
font-size:1.7rem;
line-height: 1.5;
font-weight: 600;
}
p, li, span {
    font-size: 1.1rem;
}
section{
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
     margin-bottom: 40px;
}
p{
    border: none;
    margin-bottom:20px;
    line-height:1.8;
    font-weight: 600;
}
header h1 {
    background-color: var(--culoare-banner);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
table {
border-collapse: collapse;
width: 100%;
}

td, th {
 padding: 12px 15px;
 text-align: center;
border: 1px solid var(--culoare-border);

}
thead{
    background-color: var(--culoare-border);
    color: var(--culoare-fundal);
}
tfoot{
    background-color: var(--culoare-border);
    color: var(--culoare-fundal);
}
caption{
caption-side: bottom;
font-weight: bold;
padding:10px;
}
thead th{
border:3px solid var(--culoare-border);
}

tbody td, tfoot td{
border:1px solid var(--culoare-border);
}
tbody tr:nth-child(odd){
box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
color:var(--culoare-text);
}

tbody tr:nth-child(even){
box-shadow: inset 0 0 10px rgba(0,0,0,0.35);
color:var(--culoare-fundal);
}
.container-iframe iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
    border: 4px solid var(--culoare-accent);
    border-radius: 12px;
    background: white;
}

.taburi-iframe {
    display: flex;
    gap: 6px;
    margin-bottom: -4px;
    z-index: 2;
}

.taburi-iframe a {
    background-color: var(--culoare-text);
    color: var(--culoare-border);
    padding: 3px 9px;
    font-size: 0.9rem;

    text-decoration: none;
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--culoare-text);
    border-bottom: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.container-iframe iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
    border: 4px solid var(--culoare-text);
    border-radius: 10px;
    background: white;
}
main{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;

}
header img{
    width:120px;
    height:auto;
}
.container-tabel{
overflow-x:auto;
}
img, video, iframe, object {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
}
figure {
    text-align: center;
    border: 1px solid var(--culoare-border);
     margin: 40px auto;

}
main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--culoare-border);
}
#utilizatori-online, #statistici, #site-server,#calendar{
    background-color: var(--culoare-border);
    margin-bottom: 10px;
    border: 3px solid var(--culoare-accent);
}
#welcome,#anunturi, #review,#despre, #produse, #materii, #galerie-statica, #centru, #prezentare, #inscriere, #contact {
    background-color: var(--culoare-banner);
    margin-bottom: 10px;
    border: 3px solid var(--culoare-border);
}

 #index-intrebari, #promotii {
    background-color: var(--culoare-accent);
    margin-bottom: 10px;
    border: 3px solid var(--culoare-text);
    color: var(--culoare-border);
}

#programpregatire, #tab-orar {
    background-color: #EFECEA;
    margin-bottom: 10px;
    border: 3px solid var(--culoare-border);
}

#prezentare, #inscriere {
    border-width: 5px; 
}
#materii img {
    display: block;
    width: 100%;
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
}

#grid-pagina {
    display: grid;
    gap: var(--gap-mare);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:

"welcome welcome welcome"
"calendar contact anunturi"
"utilizatori-online statistici site-server"
"centru promotii despre"
"index-intrebari materii review"
"produse produse produse";
}
#grid-pagina > * {
    min-width: 0;
}
#welcome{grid-area:welcome;}
#anunturi{grid-area:anunturi;}
#promotii{grid-area:promotii;}
#review{grid-area:review;}
#materii{grid-area:materii;}
#produse{grid-area:produse;}
#despre{grid-area:despre;}
#contact{grid-area:contact;}
#index-intrebari{grid-area:index-intrebari;}
#utilizatori-online{grid-area:utilizatori-online;}
#statistici{grid-area:statistici;}
#site-server{grid-area:site-server;}
#calendar{grid-area:calendar;}
#centru{grid-area:centru;}
@media screen and (max-width:1200px) {

    body{
        --margine-pagina:auto;
    }

}

@media (max-width: 991px) {
 body {
    padding-left: var(--margine-pagina-medie);
    padding-right: var(--margine-pagina-medie);
    font-size: 1.05rem;
  }
  h1 { font-size: 2.1rem; }
 h2 { font-size: 1.85rem; }
 h3 { font-size: 1.6rem; }
 p, li, span { font-size: 1.05rem; }
#grid-pagina {
gap: var(--gap-medie);
grid-template-columns: 1fr 1fr;

grid-template-areas:

"welcome welcome"
            "calendar contact"
            "anunturi anunturi"
            "utilizatori-online statistici"
            "site-server site-server"
            "centru promotii"
            "despre review"
            "index-intrebari index-intrebari"
            "produse produse";

}

}
@media (max-width: 575px){
body {
    padding-left: var(--margine-pagina-mica);
    padding-right: var(--margine-pagina-mica);
  font-size: 0.9rem;
  }
 h1 { font-size: 2rem; }
 h2 { font-size: 1.75rem; }
 h3 { font-size: 1.5rem; }
 p, li, span { font-size: 1rem; }
#grid-pagina{
gap: var(--gap-mica);

grid-template-columns:1fr;

grid-template-areas:

"welcome"
            "calendar"
            "contact"
            "anunturi"
            "utilizatori-online"
            "statistici"
            "site-server"
            "centru"
            "materii"
            "promotii"
            "review"
            "despre"
            "index-intrebari"
            "produse";

}

}



footer{
    background-color: var(--culoare-accent);
    margin-bottom: 10px;
     border: 3px solid var(--culoare-border);
}