nav{
    --latime-buton: 150px;
    --inaltime-buton: 40px;
    background-color: var(--culoare-fundal);
     justify-content: center;
}

ul.meniu, ul.meniu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.meniu{
    display: flex;
    gap: 15px;
}

ul.meniu ul{
    display: none;
}

ul.meniu li {
    width: auto; 
    padding: 0 20px;
    height: var(--inaltime-buton);
    background-color: var(--culoare-accent);
    border-radius: 12px;
    border: 2px solid var(--culoare-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

ul.meniu li a{
    text-decoration: none;
    display: block;
    color: var(--culoare-border);
    font-weight: 600;
}

ul.meniu > li:hover{
    background-color: var(--culoare-contur);
}

ul.meniu > li:hover > a{
    color: white;
}

ul.meniu li:hover > ul{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}
ul.meniu li ul {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}
ul.meniu li ul li{
    width: 100%;
    background-color: var(--culoare-fundal);
    border:none;
}

ul.meniu li ul li:hover{
    background-color: var(--culoare-text);
}

ul.meniu li ul li:hover a{
    color: white;
}
ul.meniu > li:hover {
    background-color: var(--culoare-accent);
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

ul.meniu > li:hover > a {
    color: var(--culoare-text);
}
.taburi-iframe a:hover {
    background-color: var(--culoare-fundal);
    color: white;
    transform: translateY(-2px);
}

#link-top:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}
#link-top:hover {
    background-color: var(--culoare-accent);
    opacity: 1;
}

#link-top:hover .sageata {
    transform: translate(-50%, -50%) scale(1.4);
}

