<header>
        <h1> Centrul EduPlease </h1>
        <img src="/resurse/imagini/sigla.png" alt ="sigla" />
       <input type="checkbox" id="toggle">
  
  <label for="toggle" class="burger">
    <i class="fa-solid fa-bars"></i> </label>
<nav>
    <ul class="meniu">
        <li> <a href="/index">Acasa<i class="fa-solid fa-house"></i></a> 
            <ul>
                <li>
                    <a href="/index#welcome">Bine ați venit!</a>
                </li>
            </ul>
        </li>
        <li><a href="#"> Despre noi<i class="fa-solid fa-circle-info"></i></a>
            <ul>
                <li>
                    <a href="/index#despre">Profesorii nostri</a>
                </li>
                <li>
                    <a href="/index#review">Review-uri</a>
                </li>
                   <li>
                    <a href="/Istoric"> Istoricul nostru</a>
                </li>
                </ul>
        </li>
        <li><a href="#">Prețuri<i class="fa-solid fa-store"></i></a>
            <ul>
                <li>
                    <a href="/index#promotii">Promoții și oferte</a>
                </li>
                <li>
                    <a href="/index#produse">Abonamente</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Înscrieți-vă!<i class="fa-solid fa-chalkboard-user"></i></a>
            <ul>
                <li>
                    <a href="/formular">Formular inscriere</a>
                </li>
            </ul>
        </li>
        <li><a href="/index#contact">Contactează-ne<i class="fa-regular fa-comment"></i></a></li>
    </ul>
</nav>
    </header>